<table class="styled-table center">
  <thead>
    <tr>
      <th class="has-text-centered">Nome</th>
      <th class="has-text-centered">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of listPeople">
      <td class="has-text-centered">{{p.name}}</td>
      <td class="has-text-centered">
        <div class="buttons is-centered">
          <button mat-raised-button class="details" id="{{p._id}}" routerLink="/detail/{{p._id}}"> Ver pessoa</button
          ><button mat-raised-button class="margin edit" id="{{p._id}}" routerLink="/detail/{{p._id}}">Editar</button
          ><button
            mat-raised-button
            class="button is-danger margin delete"
            id="{{p._id}}"
            (click)="deletePerson(p._id, p.name)"
          >
            Deletar
          </button>
        </div>
      </td>

  </tbody>
</table>

<div *ngIf="this.waiting == true">
  <app-spinner></app-spinner>
</div>
